<style>
    .logo{
        background: #eee;
    }
</style>
<div flex>
    <div layout='row'>
        <div flex="65" flex-xs="100">
            <br />
            <form method="post" layout="column" layout-padding ng-submit="$ctrl.onSearchJob()">
                <md-checkbox class="md-secondary">
                    Mes compétences seulement
                </md-checkbox>

                <input ng-model="$ctrl.keySearch" class="md-whiteframe-1dp" type="text"
                       style="border:none; padding: 10px; outline: none;" placeholder="Rechercher"/>
                <br />
                <div ng-hide="$ctrl.searchJob" style="border-top: 1px solid #eee; height: 0px; padding: 0;"></div>
            </form>
            <div ng-show="$ctrl.searchJob || $ctrl.onLoad" layout="column" layout-align="center center" style="height: 200px;">
                <md-progress-circular class="md-accent" md-diameter="48px"></md-progress-circular>
                <p style="color:#999; font-size: 13px">Recherche en cours</p>
            </div>
            <div ng-hide="$ctrl.searchJob || $ctrl.onLoad;" layout="column">
                <h3 style="text-align: center" ng-show="!$ctrl.actualites.length">Aucun résultat</h3>
                <md-card ng-class="eprs.onDetail ? 'md-whiteframe-10dp card-detail':''" ng-repeat="eprs in $ctrl.actualites" 
                         md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" 
                         md-theme-watch style="margin-bottom: 10px;">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline">
                                <div ng-class="eprs.logo ? '':'logo'" style='display: inline-block;
                                     height : 38px;
                                     width: 38px;
                                     border-radius: 0%;
                                     position: relative;
                                     top: 0px;
                                     vertical-align: middle;
                                     margin-right: 7px; overflow:hidden; background-image: url("{{eprs.logo}}"); 
                                     background-size:cover;'>
                                     </div> {{eprs.entreprise}}</span>
                            <span class="md-subhead sub-header"><b>{{ eprs.poste}}</b></span>
                        </md-card-title-text>
                    </md-card-title>
                    <md-card-content layout="row" layout-align="">
                        <div class="" style="width: 100%;">
                            <div layout="row">
                                <p flex style="font-size: 13px">Posté le, <i>{{eprs.date}}</i></p>
                            </div>
                            <div ng-show="eprs.onDetail" >
                                <p style="text-align: center">
                                    <!--<img src="assets/img/{{eprs.img}}" style="width:70%">-->
                                </p>
                                <p style="font-size: 14px">
                                    {{eprs.contenue}}
                                </p>
                            </div>
                        </div>
                    </md-card-content>
                    <md-card-actions layout="row" style="position: relative; top: -10px;">
                        <small><b>{{eprs.likes}} développeurs</b></small>
                        <span flex></span>
                        <md-button ng-hide="eprs.onDetail" ng-click="$ctrl.hideAll(eprs, $index);" class='md-raised'>
                            Interesser
                        </md-button>
                        <md-button ng-show="eprs.onDetail" ng-click="eprs.onDetail = eprs.onDetail ? false : true"  class="md-fab md-mini md-raised" aria-label="Eat cake" style="margin-right: 30px">
                            <md-icon md-svg-src="assets/svg/icons-64/Share.svg"></md-icon>
                        </md-button>
                        <md-button ng-show="eprs.onDetail" ng-click="eprs.onDetail = eprs.onDetail ? false : true"  class="md-fab md-mini md-raised" aria-label="Eat cake" style="margin-right: 30px">
                            <md-icon md-svg-src="assets/svg/icons-64/Idea.svg"></md-icon>
                        </md-button>
                        <md-button ng-show="eprs.onDetail" ng-click="eprs.onDetail = eprs.onDetail ? false : true"  class="md-fab md-mini md-raised" aria-label="Eat cake" style="margin-right: 30px">
                            <md-icon md-svg-src="assets/svg/icons-64/Briefcase.svg"></md-icon>
                        </md-button>
                    </md-card-actions>
                </md-card>
            </div>
        </div>
        <div flex hide-xs style="margin-top: 10px; margin-left: 25px">
            <br />
            <div>
                <md-card md-theme-watch style="margin-bottom: 15px; padding: 0; margin: 0; margin-bottom: 15px;">
                    <md-card-title>
                        <md-card-title-text>
                            <span class="md-headline" style="font-size: 16px; font-weight: bold;">
                                Windows 10 preview
                            </span>
                            <md-card-content layout="column" layout-align="">
                                <img src="assets/img/overview-RD-security-hello.png" style="width: 100% !important; height: auto !important"/>
                                <p style="font-size: 13px;">
                                    Contenu du message dans le deuxieme card.
                                </p>

                                <p style="font-size: 13px;">
                                    Contenu du message dans le deuxieme card.
                                </p>
                            </md-card-content>
                        </md-card-title-text>
                    </md-card-title>
                </md-card>

                <h5>Le monde de développement bouge beaucoup</h5>
                <hr />
                <div style='display: inline-block;
                     height : 32px;
                     width: 32px;
                     border-radius: 50%;
                     background: #eee;
                     position: relative;
                     top: 0px;
                     vertical-align: middle;
                     margin-right: 7px;'></div> 
                <span style="color: #FF6D00; font-size: 14px; font-weight: bold;">Steven Smith</span>
                <p style="font-size: 13px">
                    Transfert vers Bocasy. Vraiment un actu du jour dans le domaine
                    Transfert vers Bocasy. Vraiment un actu du jour !
                    Transfert vers Bocasy. Vraiment un actu du jour !
                </p>
            </div>
        </div>
    </div>
</div>