<h1>Calendrier - Juillet</h1>
<div layout="column" style="height: 100%;">
    <div layout="row" layout-align="center center" style="margin-bottom: 7px;">
        <div flex="10"></div>
        <div flex>Lundi 25</div>
        <div flex>Mardi 26</div>
        <div flex style="color: #FF6D00">Mercredi 27</div>
        <div flex>Jeudi 28</div>
        <div flex>Vendredi 29</div>
        <div flex>Samedi 30</div>
        <div flex>Dimanche 31</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee; border-top: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">8:00</div>
        <div flex style="line-break: loose;"><b class="rdv">Bocasay</b>#<small><i>Test</i></small></div>
        <div flex style="padding: 0; margin: 0"></div>
        <div flex></div>
        <div flex></div>
        <div flex></div>
        <div flex></div>
        <div flex></div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">9:00</div>
        <div flex></div>
        <div flex></div>
        <div flex></div>
        <div flex></div>
        <div flex>
            <div class="entretien"><b class="rdv">Netapsys</b>#<small><i>Entretien</i></small></div>
        </div>
        <div flex></div>
        <div flex></div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">10:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">11:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">12:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">13:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">14:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">15:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">16:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">17:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">18:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">19:00</div>
    </div>
    <div layout="row" style="padding-top: 15px; padding-bottom: 15px; border-bottom: 1px solid #eee;">
        <div flex="10" style="font-size: 14px">20:00</div>
    </div>
</div>