<md-content layout-padding >
<div layout="row">
    <div flex=60 style="border-bottom:5px solid #00aed1">
        <div layout="row">
            <div style="width: 160px; height:160px; background:url('assets/img/images (15).jpg'); 
        background-size:cover"></div>
            <div flex flex-offset="5">
                <h2 style="margin-top:0; padding-top:0;">BABAY Prince</h2>
                <p>Membre depuis 2015</p>
                <p>
                    <small>
                        Développeur symfony2 depuis 1 an chez vivetic. Participation dans un coucours de design
                        et passionner du développement web.
                    </small>
                </p>
            </div>
        </div>
    </div>
    <div flex>
        <md-button aria-label="button-label" class="md-mini md-raised md-accent" style="background:white">
           <md-icon md-svg-src="assets/svg/icons-64/Briefcase.svg"></md-icon>
           Offre
        </md-button>
        <md-button aria-label="button-label" class="md-mini md-raised" style="background:white">
           <md-icon md-svg-src="assets/svg/icons-64/Speech Bubble.svg"></md-icon>
           Envoyer un message
        </md-button>
    </div>
</div>
<div layout="row">
    <div flex>
        <h1>Mes réalisations</h1>
        <p>
            Propager la suppression des enregistrements « fils » associés à l ’enregistrement « père » supprimé. Ce mécanisme est réalisé par la directive ON DELETE CASCADE. Dans notre exemple, nous pourrions ainsi décider de supprimer tous les affrètements dès qu’on retire un avion. 
        </p>
    </div>
</div>
<div layout="row">
    <div flex>
        <h1>Mes Parcours</h1>
        <p>
            Propager la suppression des enregistrements « fils » associés à l ’enregistrement « père » supprimé. Ce mécanisme est réalisé par la directive ON DELETE CASCADE. Dans notre exemple, nous pourrions ainsi décider de supprimer tous les affrètements dès qu’on retire un avion. 
        </p>
        <p>
             Étendre la modification de la clé primaire de l’enregistrement « père » aux enregistrements « fils » associés. Ce mécanisme est réalisé par la directive ON UPDATE CASCADE. Dans notre exemple, nous pourrions ainsi décider de mettre à jour tous les affrètements dès qu’on modifie l’immatriculation d’un avion.
        </p>
    </div>
</div>
</md-content>